.header-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.header-container img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}